# **MySQL :**

 * open-source relational database management system (RDBMS) , it excels at storing, organizing, and retrieving data in a structured way 

 * Data is stored in tables with relationships between them, allowing for efficient retrieval and manipulation of complex data sets

 * It uses a standardized query language called SQL (Structured Query Language) to interact with the database

 * **SQL Syntax :**

     * **Most Important SQL Commands :**

         * **CREATE DATABASE :** creates a new DB

         * **ALTER DATABASE :** modifies a DB

         * **CREATE TABLE :** creates a new table

         * **ALTER TABLE :** modifies a table

         * **DROP TABLE :** deletes a table

         * **CREATE INDEX :** creates an index (search key)

         * **DROP INDEX :** deletes an index

         * **SELECT :** Retrieves data from a DB

         * **FROM :**  specifies the table(s) from which data will be retrieved in a SELECT statement
         
         * **ORDER BY :** sorts the results of a SELECT statement in ascending or descending order based on one or more columns
         
         * **UPDATE :** updates data in DB

         * **INSERT INTO :** inserts new data into a DB

         * **DELETE :** deletes data from a DB

         * **WHERE :** filters the rows returned by a DML statement based on a specific condition

         * **JOINs :** combine data from multiple tables based on a shared relationship between them

     * Most database systems require a semicolon (;) at the end of each SQL statement to terminate it

***
***

# **Connecting To DBs :**

 * There are two main methods for connecting to databases with PHP :

     1) **MySQLi :**

         * improved interface for interacting with MySQL DBs 
         
         * It offers object-oriented and procedural programming approaches 

     2) **PDO (PHP Data Objects):**

         * a general-purpose extension that allows you to connect to various database systems (MySQL, PostgreSQL, SQLite, etc.) using a consistent API. It promotes code reusability across different databases.     


 * **Connecting To DB Using PDO :**

     * **Syntax :**

         ```php
         <?php
         
         $conn = new PDO($dsn, $username, $password, $options);

         /*
         
         $dsn  (Data Source Name)  => defines the connection details including the database driver, server address, database name, and other parameters specific to the database system being used

         $username => username for a valid user account with access to the database

         $password => password for the specified username

         $options => associative array of options defines specific attributes you want to set on the connection 

            * setAttribute($attribute, $value) is an alternative for this 

                 * Common $attribute : 
                 
                     * PDO::ATTR_ERRMODE (default): Defines how errors are handled (e.g., throw exceptions, return warnings) => expects a value like PDO::ERRMODE_EXCEPTION
                     
                     * PDO::ATTR_CASE (integer): Controls the case conversion for column names returned by queries
                     

         */

         $dsn = "driver:host=server_address;dbname=database_name;[other_options]"

         /*
         
         driver =>  specifies the database driver type (e.g., mysql, pgsql, sqlite)

         host => hostname or IP address of the database server

         dbname => name of the specific database you want to connect to on the server

         [other_options] => Optional parameters specific to the database system being used (e.g., port, charset)

         */

         ?>
         ``` 

     * **Error Handling :**

         * Using try & catch : 

             ```php
             <?php

             try {

                 // PDO operations (connection, queries)

             } catch(PDOException $e) {

                // Handling the exception

                echo "Error: " . $e->getMessage();

                /*

                $e->getMessage() :
                    
                     retrieve the human-readable error message associated with a PDOException object 
                
                */

             }              
    
             ?>
             ``` 


     * **Example :** 

         ```php
         <?php

         $options = array(

            PDO::MYSQL_ATTR_INIT_COMMAND => 'SET NAMES utf8',

         );

         try {
            $conn = new PDO("mysql:host=localhost;dbname=users", "root", "", $options);

            $conn->setAttribute(PDO::ATTR_ERRMODE, PDO::ERRMODE_EXCEPTION);
         }

         catch (PDOException $e) {

            echo "Error: " . $e->getMessage();

         }

         ?>
         ```        

               
***
***

# **Data Types :** 

 * **Numeric :**
  
     1) **INT (INTEGER) :** Stores whole integers within the range of -2,147,483,648 to 2,147,483,647 

     2) **SMALLINT :** ranging from -32,768 to 32,767

     3) **TINYINT :** ranging from -128 to 127 (Ideal for flags or boolean values (0 or 1))

     4) **BIGINT :** ranging from -9,223,372,036,854,775,808 to 9,223,372,036,854,775,807

     5) **MEDIUMINT :**  ranging from -8,388,608 to 8,388,607

     6) **DEC (DECIMAL) :** Stores fixed-point numbers with a specified number of decimal places for precise decimal calculations

     7) **FLOAT :** Stores single-precision floating-point numbers, offering a balance between storage efficiency and precision

     8) **DOUBLE :** Stores double-precision floating-point numbers, providing higher precision for calculations but using more storage space 


 * **Date & Time :** 

     1) **DATE :** Stores only the date portion (year, month, day) without time information

     2) **DATETIME :** Stores both the date and time components (year, month, day, hour, minute, second)

     3) **TIMESTAMP :** Similar to DATETIME, but often configured to automatically update the current timestamp whenever a row is inserted or updated in the table

     4) **TIME :** Stores only the time portion (hour, minute, second)

     5) **YEAR :** Stores only the year value (four digits only) for representing years   


 * **String :**

     1) **VARCHAR(n) :** Stores **variable-length** character strings, where n specifies the maximum length in characters  

     2) **CHAR(n) :** Stores fixed-length character strings, where n specifies the exact length (Faster than VARCHAR because it uses static memory)

     3) **TEXT :** Stores large text strings (longer than VARCHAR)

     4) **BLOB :** Stores binary large objects (binary data) like images, audio, or video files  

     5) **ENUM :** Allows choosing **only one** value from a defined list

     6) **SET :** Allows choosing **multiple** values (one or more) from a defined list 

***
***

# **Dealing With DBs :** 


 * **Creating DB :** 

     ```php
     <?php

     try {
         // Establishing a PDO connection without specifying a dbName 
         $conn = new PDO("mysql:host=localhost", "root", "");
         $conn->setAttribute(PDO::ATTR_ERRMODE, PDO::ERRMODE_EXCEPTION);

         // SQL statement to create the DB
         $query = "CREATE DATABASE IF NOT EXISTS dbName";

         $conn->exec($query);

     } catch(PDOException $e) {
         echo "Error: " . $e->getMessage();
     }

     $conn = null; // Close the connection after execution

     ?>
     ```

***

 * **Deleting DB :** 

     ```php
     <?php

     try {
         // Establishing a PDO connection without specifying a dbName 
         $conn = new PDO("mysql:host=localhost", "root", "");
         $conn->setAttribute(PDO::ATTR_ERRMODE, PDO::ERRMODE_EXCEPTION);

         // SQL statement to delete the DB
         $query = "DROP DATABASE IF EXISTS dbName";
         // IF EXISTS => checking if the database exists before deletion to avoid errors

         $conn->exec($query);

     } catch(PDOException $e) {
         echo "Error: " . $e->getMessage();
     }

     $conn = null; // Close the connection after execution

     ?>
     ``` 

***
***

# **Dealing With Tables :**

 * **Creating Tables :**

     ```php
     <?php
     try {
         // Establishing a PDO connection
         $conn = new PDO("mysql:host=localhost;dbname=users", "root", "");
         $conn->setAttribute(PDO::ATTR_ERRMODE, PDO::ERRMODE_EXCEPTION);

         // SQL statement to create the DB
         $query = "CREATE TABLE IF NOT EXISTS accounts (
            id INT AUTO_INCREMENT PRIMARY KEY,
            username VARCHAR(15) NOT NULL,
            email VARCHAR(15) UNIQUE NOT NULL
         )";

         $conn->exec($query);

     } catch(PDOException $e) {
         echo "Error: " . $e->getMessage();
     }

     $conn = null; // Close the connection after execution

     ?>
     ```
***
 * **Deleting Tables :**

     ```php
     <?php
     try {
         // Establishing a PDO connection 
         $conn = new PDO("mysql:host=localhost;dbname=users", "root", "");
         $conn->setAttribute(PDO::ATTR_ERRMODE, PDO::ERRMODE_EXCEPTION);

         // SQL statement to delete the DB
         $query = "DROP TABLE IF EXISTS accounts";
         $conn->exec($query);

     } catch(PDOException $e) {
         echo "Error: " . $e->getMessage();
     }

     $conn = null; // Close the connection after execution

     ?>
     ```
***
 * **Selecting Data From Tables :**

     ```php
     <?php
     try {
         // Establishing a PDO connection 
         $conn = new PDO("mysql:host=localhost;dbname=users", "root", "");
         $conn->setAttribute(PDO::ATTR_ERRMODE, PDO::ERRMODE_EXCEPTION);

         // SQL statement to select username from accounts
         $query = "SELECT username FROM accounts";

         // $query = "SELECT * FROM accounts"; select all from accounts

         $stmt = $conn->prepare($query); // preparing the statement for execution
         $stmt->execute(); // executing the prepared statement

         $result = $stmt->fetchAll(PDO::FETCH_ASSOC); // Fetch data as associative array


     } catch(PDOException $e) {
         echo "Error: " . $e->getMessage();
     }

     $conn = null; // Close the connection after execution

     ?>
     ```   
***
 * **Updating Tables :**

     ```php
     <?php
     try {
         // Establishing a PDO connection 
         $conn = new PDO("mysql:host=localhost;dbname=users", "root", "");
         $conn->setAttribute(PDO::ATTR_ERRMODE, PDO::ERRMODE_EXCEPTION);

         $id = 1;
         $newEmail = "newemail@gmail.com";

         // SQL statement to update email for a specific account
         $query = "UPDATE accounts SET email = :email WHERE id = :id";

         $stmt = $conn->prepare($query); // preparing the statement for execution


         // use bindParam to associate actual values with the placeholders in the prepared statement. This ensures proper data binding and security
         $stmt->bindParam(":id", $id);
         $stmt->bindParam(":email", $newEmail);

         $stmt->execute(); // executing the prepared statement

     } catch(PDOException $e) {
         echo "Error: " . $e->getMessage();
     }

     $conn = null; // Close the connection after execution

     ?>

     ``` 

***

 * **Inserting Data To Tables :**

    ```php
    <?php
     try {
         // Establishing a PDO connection 
         $conn = new PDO("mysql:host=localhost;dbname=users", "root", "");
         $conn->setAttribute(PDO::ATTR_ERRMODE, PDO::ERRMODE_EXCEPTION);

         $name = htmlspecialchars($_POST["name"]);
         $email = filter_var($_POST["email"], FILTER_SANITIZE_EMAIL);



         // Prepare SQL statement with placeholders
         $query = "INSERT INTO users (name, email) VALUES (:name, :email)";
         $stmt = $conn->prepare($query);

         // Bind parameters with escaped values

         $stmt->bindParam(":name", $name, PDO::PARAM_STR);
         $stmt->bindParam(":email", $email, PDO::PARAM_STR);


         $stmt->execute(); // executing the prepared statement

     } catch(PDOException $e) {
         echo "Error: " . $e->getMessage();
     }

     $conn = null; // Close the connection after execution
    ?>
    ```

***
***

# **Constraints :** 

 * **NOT NULL :**

     * Ensures that a column cannot contain null values

 * **UNIQUE :** 

     * Can be applied to one or more columns (not necessarily the entire row). It ensures that the combination of values in those columns is unique within the table 
     
     * You can have multiple UNIQUE constraints on a single table

     * Prevents duplicate entries based on specific columns

 * **PRIMARY KEY :**

     * Essential for unique row identification

     * A table can only have one PRIMARY KEY constraint, which uniquely identifies each row in the table

     * **Example :**

         ```php
         <?php
         try {
             // Establishing a PDO connection without specifying a dbName 
             $conn = new PDO("mysql:host=localhost", "root", "");
             $conn->setAttribute(PDO::ATTR_ERRMODE, PDO::ERRMODE_EXCEPTION);

             // SQL statement to create the DB
             $query = "CREATE DATABASE IF NOT EXISTS users";

             $conn->exec($query);

         }
         catch(PDOException $e) {
             echo "Error: " . $e->getMessage();
         }

         try {
             $conn = new PDO("mysql:host=localhost;dbname=users", "root", "");
         $conn->setAttribute(PDO::ATTR_ERRMODE, PDO::ERRMODE_EXCEPTION);
             $query = "CREATE TABLE IF NOT EXISTS accounts (
                     id INT AUTO_INCREMENT PRIMARY KEY,
                     username VARCHAR(15) NOT NULL UNIQUE,
                     email VARCHAR(15)  NOT NULL UNIQUE
                         )";
                    
             $stmt = $conn->prepare($query);
             $stmt->execute();
         } 
         catch(PDOException $e) {
             echo "Error: " . $e->getMessage();
         }     
         ?>
         ```

 * **FOREIGN KEY :** 

     * Establishes a relationship between two tables. It references a PRIMARY KEY or UNIQUE KEY in another table, ensuring data consistency and referential integrity  

***
***

# **String Functions :**

 * **LEFT(str, len) :**

     *  Extracts a specified number of characters (len) from the left side of the string str  

     ```SQL
     SELECT LEFT(columnFromTable, length) FROM 'TableName';
     
     SELECT LEFT("Hello", 2); -- Returns (He) 
     ```

 * **RIGHT(str, len) :** 

     * Extracts a specified number of characters (len) from the right side of the string str  

      ```SQL
     SELECT LEFT(columnFromTable, length) FROM 'TableName';

     SELECT LEFT("Hello", 2); -- Returns (lo) 
     ```

 * **MID(str, pos, len) :**

     *  Extracts a substring of length **len** from the string **str**, starting from specific position **pos** (1-indexed)    

     ```SQL
     SELECT MID("Hello, World!", 4, 5); -- Returns (lo, W)
     ```
***

 * **LENGHT(str) :**

     * Returns the number of bytes used to store the string **str**

     * Considers the character encoding of the string

     * A single character with an accent (like รก) might be stored in more than one byte depending on the encoding

     ```SQL
     SELECT LENGTH("Hello, World!"); -- Return 13 (Assuming UTF-8 encoding)
     ```

 * **CHAR_LENGTH(str) :** 

     * Returns the number of characters in the string **str**  

     * Ignores the character encoding

     ```SQL
     SELECT CHAR_LENGTH("Hello, World!"); -- Always returns 13
     ```  
**

 * **UCASE(str) :** 

     * Converts all characters in the string **str** to uppercase  

     ```SQL
     SELECT UCASE("hello"); -- Returns HELLO
     ```   

 * **LCASE(str) :**

     * Converts all characters in the string **str** to lowercase 

     ```SQL
     SELECT LCASE("HELLO"); -- Returns hello
     ```  

***

 * **REPEAT(str, count) :** 

     * Repeats a string **str** a specified number of times **count**

     ```SQL
     SELECT REPEAT("#", 10); -- ##########
     ```

 * **REVERSE(str) :**

     * Reverses the order of characters in the string

     ```SQL
     SELECT REVERSE("Hello"); -- Returns olleH
     ```

 * **REPLACE(str, search_str, replace_str) :**

     * Replaces all occurrences of the substring (search_str) in the string (str) with the replacement string (replace_str) 

     ```SQL
     SELECT REPLACE("Hello World", "o", "0"); -- Returns Hell0 W0rld
     ```

***         

 * **CONCAT(str1, str2, ....):**

     * Concatenates two or more strings into a single string

     * Appends strings together without any separator inserted between them

     * Returns NULL if any of the input strings are NULL

     ```SQL

     -- Building a full name string from first_name and last_name columns

    SELECT CONCAT(first_name, ' ', last_name) AS full_name FROM users;

     ```


 * **CONCAT_WS(separator, str1, str2, ....) :**  

     * Concatenates two or more strings into a single string with a specified separator

     * Skips NULL values in the input strings and continues concatenation with the remaining non-NULL values

     ```SQL
     
     -- Creating a file path with a forward slash separator

     SELECT CONCAT_WS('/', 'data', 'images', user_id, '.jpg') AS image_path FROM user_images;
     
     ```

***